body {
	flex-flow: row wrap;
	margin-left : 10px  ;
	margin-right : 10px;
	margin-top : 10px  ;
	margin-bottom: 10px;
}

img {
	height : 130px;
	width : 100px;
	float : right;
	flex-direction : row;
}

.header {
	padding : 5px;
	background-color : black;
	text-align : center;
	color : white;
	margin : 0 0 10px 0 ;
}

.city {
	
	padding : 5px 10px ;
	background-color : hsla(50, 10%, 40%, .75);
	color : white;
	/*padding: 200px 100px;*/
	text-align: center; 
	width: 380px;
	height : 300px;
	font-size : 30px;
	position : relative;
	/*overflow : */
	
	
}


footer {
	padding : 5px;
	background-color : rgb(224, 233, 241);
	color : black;
	margin-top :  10px ;
	margin-bottom : 2px;
	margin-left : 10px;
	margin-right : 10px;
	
	

}
#phrase {
	margin-left : 10px  ;
	margin-right : 10px;
	margin-top : 122px  ;
	margin-bottom: 130px;
	padding-bottom : 2px;
}

.div1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom:20px; 
	margin-top: 20px; 
	
	
}
footer a{
		color : blue;
}

